@import url(https://fonts.googleapis.com/css?family=Montserrat);
* {
  margin: 0 auto;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(images/white.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  height: 100%;
  color: #292929;
  font-family: 'mplus_0', sans-serif;
  font-size: 50px;
  letter-spacing: 30px;
  text-align: center;
  background-color: #fff;
  display: table;
}

#logo span {
  display: table-cell;
  vertical-align: middle;
}

#sakine {
  white-space: nowrap;
  text-align: center;
  margin-right: 50px;
  margin-left: 25px;
}

.header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  z-index: 1;
  position: fixed;
}

.header h1 a {
  letter-spacing: 10px;
  margin-top: 8px;
  margin-left: 50px;
  font-size: 50px;
  color: #292929;
  text-decoration: none;
  float: left;
  font-family: mplus_1;
  transition: .3s;
}

.header h1 a span {
  display: inline-block;
  transition: .6s;
}

.header h1 a:hover span {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: .6s;
}

.header h1 a:hover span:nth-of-type(1) {
  -webkit-transition-delay: .03s;
  transition-delay: .03s;
}

.header h1 a:hover span:nth-of-type(2) {
  -webkit-transition-delay: .06s;
  transition-delay: .06s;
}

.header h1 a:hover span:nth-of-type(3) {
  -webkit-transition-delay: .09s;
  transition-delay: .09s;
}

.header h1 a:hover span:nth-of-type(4) {
  -webkit-transition-delay: .12s;
  transition-delay: .12s;
  color: #fff;
}

.header h1 a:hover span:nth-of-type(5) {
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
}

.header ul {
  margin-right: 50px;
  float: right;
}

.header ul li {
  margin-top: 28px;
  margin-right: 50px;
  list-style: none;
  float: left;
  font-family: mplus_0;
}

.header ul li a {
  font-size: 25px;
  color: #292929;
  text-decoration: none;
  transition: 0.3s;
}

.header ul li a {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
}

.header ul li a {
  display: block;
  padding: 0 0 5px;
  position: relative;
  text-decoration: none;
}

.header ul li a::before,
.header ul li a::after {
  border-bottom: solid 2px #292929;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  width: 0;
}

.header ul li a::before {
  left: 50%;
}

.header ul li a::after {
  right: 50%;
}

.header ul li a:hover::before,
.header ul li a:hover::after {
  width: 50%;
}

.hero {
  width: 100%;
  height: 100%;
}

.about {
  width: 100%;
  background-color: #fff;
  height: 100%;
  display: table;
}

.aboutct {

  padding-top: 100px;
  overflow: hidden;
  width: 1100px;
  height: 350px;
  margin: 0 auto;
  
/*

  display: table-cell;
  vertical-align: middle;
*/
}

.about .icon {
  float: left;
}

.about .contents {
  float: left;
}

.about h1 {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 40px;
  color: #292929;
  font-family: mplus_1;
}

.about .contents h2 {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20px;
  color: #292929;
  font-family: mplus_1;
}

.about .contents h3 {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 20px;
  color: #292929;
  font-family: mplus_1;
}

.about .contents .studys {
  margin-left: 60px;
}

.about .contents .studys img {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.news {
  background-color: #fff;
  width: 100%;
  margin-top: 500px;
  height: 500px;
}

.app {
  background-color: #fff;
  width: 100%;
  margin-top: 500px;
  height: 500px;
}

.web {
  background-color: #fff;
  width: 100%;
  margin-top: 500px;
  height: 500px;
}

.contact {
  background-color: #fff;
  width: 100%;
  margin-top: 500px;
  height: 500px;
}

.footer {
  background-color: #292929;
  width: 100%;
  margin-top: 500px;
  height: 80px;
  overflow: hidden;
}

.footer h1 {
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-family: mplus_1;
  display: block;
  float: left;
}

.footer a {
  color: #fff;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 25px;
  font-family: mplus_1;
  text-decoration: none;
  display: block;
  float: right;
  transition: 0.3s;

}

.footer a:hover {
  opacity: 0.5;
  transition: 0.3s;
}


/*以下ロゴアニメーション*/

.ss {
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.sa {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.sk {
  animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.si {
  animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

.sn {
  animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.se {
  animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

@media (min-width:507px) and (max-width: 991px) {
  #sakine {
    font-size: 30px;
  }
}

@media (max-width:506px) {
  #sakine {
    font-size: 20px;
    margin: 0 10px 0 0;
  }
}